body {
    font-family: Arial, sans-serif;
    background-color: #b6b5b5;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select,
  input[type="password"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    background-color:  #3a4cc6;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color:  #3a4cc6;
  }
  
  .container::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container div {
    margin-bottom: 20px;
  }
  
  .container div:last-child {
    margin-bottom: 0;
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
